body {
    width: 250px;
    background: #e4ecff;
    margin: 0;
}

h1 {
    font-size: 16px;
    margin: 0;
}

h2 {
    font-size: 14px;
    margin: 0;
}

.block {
    padding: 5px;
    margin: 10px;
    border-radius: 4px;
    background: white;
}

.settings_option {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2px 2px 0 2px;
}

.plugin_status {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#plugin_status {
    margin-left: 5px;
    font-weight: bold;
}

.plugin_on {
    color: green;
}

.plugin_off {
    color: palevioletred;
}

button {
    background: #fcfdff;
    border: 2px solid #dae5ff;
    border-radius: 5px;
    padding: 3px 6px;
    cursor: pointer;
}

button:hover {
    background: #dae5ff;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
}

.list > div  {
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    padding: 3px;
}

.list .selected {
    background: #e4ecff;
    font-weight: bold;
}

.list > div:not(.selected):hover {
    background: #fafaff;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #333;
}

.footer a {
    color: #333;
}
